DATA STRUCTURE

1. Write a code to reverse a string

In [1]:
def reverse_string(input_string):
    return input_string[::-1]

# Example usage:
original_string = "Hello, World!"
reversed_string = reverse_string(original_string)
print("Original String:", original_string)
print("Reversed String:", reversed_string)

Original String: Hello, World!
Reversed String: !dlroW ,olleH

2. Write a code to count the number of vowels in a string

In [2]:
def count_vowels(input_string):
    vowels = "aeiouAEIOU"
    count = sum(1 for char in input_string if char in vowels)
    return count

# Example usage:
text = "Hello, World!"
vowel_count = count_vowels(text)
print("Number of vowels:", vowel_count)

Number of vowels: 3

 3. Write a code to check if a given string is a palindrome or not

In [3]:
def is_palindrome(input_string):
    normalized = ''.join(c.lower() for c in input_string if c.isalnum())  # Normalize: remove non-alphanumerics
    return normalized == normalized[::-1]

# Example usage:
text = "A man, a plan, a canal, Panama"
is_palindrome_result = is_palindrome(text)
print(f"Is the string '{text}' a palindrome?:", is_palindrome_result)

Is the string 'A man, a plan, a canal, Panama' a palindrome?: True

4. Write a code to check if two given strings are anagrams of each other

In [4]:
def are_anagrams(string1, string2):
    return sorted(string1.replace(" ", "").lower()) == sorted(string2.replace(" ", "").lower())

# Example usage:
str1 = "listen"
str2 = "silent"
are_anagrams_result = are_anagrams(str1, str2)
print(f"Are '{str1}' and '{str2}' anagrams?:", are_anagrams_result)

Are 'listen' and 'silent' anagrams?: True

5.  Write a code to find all occurrences of a given substring within another string

In [5]:
def find_all_occurrences(main_string, substring):
    start = 0
    occurrences = []
    while True:
        start = main_string.find(substring, start)
        if start == -1:
            break
        occurrences.append(start)
        start += 1  # Move start index to avoid overlapping occurrences
    return occurrences

# Example usage:
main_str = "abracadabra"
sub_str = "abra"
occurrences = find_all_occurrences(main_str, sub_str)
print(f"Occurrences of '{sub_str}' in '{main_str}':", occurrences)

Occurrences of 'abra' in 'abracadabra': [0, 7]

 6. Write a code to perform basic string compression using the counts of repeated characters

In [8]:
def compress_string(input_string):
    if not input_string:
        return ""

    compressed = []
    count = 1

    for i in range(1, len(input_string)):
        if input_string[i] == input_string[i - 1]:
            count += 1
        else:
            compressed.append(input_string[i - 1] + str(count))
            count = 1

    # Add the last character and its count
    compressed.append(input_string[-1] + str(count))

    compressed_string = ''.join(compressed)
    return compressed_string if len(compressed_string) < len(input_string) else input_string

# Example usage:
text = "aabcccccaaa"
compressed_text = compress_string(text)
print("Original String:", text)
print("Compressed String:", compressed_text)

Original String: aabcccccaaa
Compressed String: a2b1c5a3

7. Write a code to determine if a string has all unique characters

In [1]:
def has_all_unique_characters(input_string):
    seen = set()
    for char in input_string:
        if char in seen:
            return False
        seen.add(char)
    return True

# Example usage:
text = "abcdefg"
result = has_all_unique_characters(text)
print(f"Does the string '{text}' have all unique characters?:", result)

Does the string 'abcdefg' have all unique characters?: True

8. Write a code to convert a given string to uppercase or lowercase

In [2]:
def convert_case(input_string, to_upper=True):
    return input_string.upper() if to_upper else input_string.lower()

# Example usage:
text = "Hello World"
print("Uppercase:", convert_case(text, to_upper=True))
print("Lowercase:", convert_case(text, to_upper=False))

Uppercase: HELLO WORLD
Lowercase: hello world

9. Write a code to count the number of words in a string

In [3]:
def count_words(input_string):
    return len(input_string.split())

# Example usage:
text = "Hello world! This is a test."
print("Number of words:", count_words(text))

Number of words: 6

10.  Write a code to concatenate two strings without using the + operator

In [4]:
def concatenate_strings(string1, string2):
    return f"{string1}{string2}"

# Example usage:
str1 = "Hello"
str2 = "World"
print("Concatenated String:", concatenate_strings(str1, str2))

Concatenated String: HelloWorld

11. Write a code to remove all occurrences of a specific element from a list

In [5]:
def remove_all_occurrences(lst, element):
    return [item for item in lst if item != element]

# Example usage:
numbers = [1, 2, 3, 4, 2, 5, 2]
print("List after removal:", remove_all_occurrences(numbers, 2))

List after removal: [1, 3, 4, 5]

12. Implement a code to find the second largest number in a given list of integers.

In [6]:
def find_second_largest(numbers):
    unique_numbers = list(set(numbers))
    unique_numbers.sort()
    return unique_numbers[-2] if len(unique_numbers) >= 2 else None

# Example usage:
nums = [10, 20, 4, 45, 99, 45]
print("Second largest number:", find_second_largest(nums))

Second largest number: 45

13. Create a code to count the occurrences of each element in a list and return a dictionary with elements as
keys and their counts as values.

In [7]:
def count_occurrences(lst):
    return {item: lst.count(item) for item in set(lst)}

# Example usage:
numbers = [1, 2, 2, 3, 3, 3, 4]
print("Occurrences:", count_occurrences(numbers))

Occurrences: {1: 1, 2: 2, 3: 3, 4: 1}

  14. Write a code to reverse a list in-place without using any built-in reverse functions.

In [8]:
def reverse_list(lst):
    for i in range(len(lst) // 2):
        lst[i], lst[-i - 1] = lst[-i - 1], lst[i]

# Example usage:
numbers = [1, 2, 3, 4, 5]
reverse_list(numbers)
print("Reversed List:", numbers)

Reversed List: [5, 4, 3, 2, 1]

15. Implement a code to find and remove duplicates from a list while preserving the original order of
elements.

In [9]:
def remove_duplicates(lst):
    seen = set()
    return [x for x in lst if not (x in seen or seen.add(x))]

# Example usage:
numbers = [1, 2, 2, 3, 4, 3, 5]
print("List without duplicates:", remove_duplicates(numbers))

List without duplicates: [1, 2, 3, 4, 5]

16. Create a code to check if a given list is sorted (either in ascending or descending order) or not.

In [10]:
def is_sorted(lst):
    return lst == sorted(lst) or lst == sorted(lst, reverse=True)

# Example usage:
numbers = [1, 2, 3, 4]
print("Is the list sorted?:", is_sorted(numbers))

Is the list sorted?: True

17. Write a code to merge two sorted lists into a single sorted list

In [11]:
def merge_sorted_lists(list1, list2):
    return sorted(list1 + list2)

# Example usage:
list1 = [1, 3, 5]
list2 = [2, 4, 6]
print("Merged Sorted List:", merge_sorted_lists(list1, list2))

Merged Sorted List: [1, 2, 3, 4, 5, 6]

18. Implement a code to find the intersection of two given lists.

In [12]:
def find_intersection(list1, list2):
    return list(set(list1) & set(list2))

# Example usage:
list1 = [1, 2, 3, 4]
list2 = [3, 4, 5, 6]
print("Intersection:", find_intersection(list1, list2))

Intersection: [3, 4]

19. Create a code to find the union of two lists without duplicates

In [13]:
def find_union(list1, list2):
    return list(set(list1) | set(list2))

# Example usage:
list1 = [1, 2, 3]
list2 = [3, 4, 5]
print("Union:", find_union(list1, list2))

Union: [1, 2, 3, 4, 5]

20. Write a code to shuffle a given list randomly without using any built-in shuffle functions.

In [14]:
import random

def shuffle_list(lst):
    shuffled = lst[:]
    for i in range(len(shuffled)):
        j = random.randint(0, i)
        shuffled[i], shuffled[j] = shuffled[j], shuffled[i]
    return shuffled

# Example usage:
numbers = [1, 2, 3, 4, 5]
print("Shuffled List:", shuffle_list(numbers))

Shuffled List: [4, 1, 5, 3, 2]

21. Write a code that takes two tuples as input and returns a new tuple containing elements that are
common to both input tuples.

In [15]:
def find_common_elements(tuple1, tuple2):
    return tuple(set(tuple1) & set(tuple2))

# Example usage:
tuple1 = (1, 2, 3, 4)
tuple2 = (3, 4, 5, 6)
common_elements = find_common_elements(tuple1, tuple2)
print("Common Elements:", common_elements)

Common Elements: (3, 4)

22. Create a code that prompts the user to enter two sets of integers separated by commas. Then, print the
intersection of these two sets.

In [17]:
def get_set_intersection():
    set1 = set(map(int, input("Enter the first set of integers (comma-separated): ").split(',')))
    set2 = set(map(int, input("Enter the second set of integers (comma-separated): ").split(',')))
    intersection = set1 & set2
    print("Intersection of the two sets:", intersection)

# Example usage:
get_set_intersection()

Enter the first set of integers (comma-separated): 2,4,5,6
Enter the second set of integers (comma-separated): 1,3,5,7
Intersection of the two sets: {5}

23.  Write a code to concatenate two tuples. The function should take two tuples as input and return a new
tuple containing elements from both input tuples.

In [18]:
def concatenate_tuples(tuple1, tuple2):
    return tuple1 + tuple2

# Example usage:
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
result = concatenate_tuples(tuple1, tuple2)
print("Concatenated Tuple:", result)

Concatenated Tuple: (1, 2, 3, 4, 5, 6)

24. Develop a code that prompts the user to input two sets of strings. Then, print the elements that are
present in the first set but not in the second set.

In [19]:
def difference_between_sets():
    set1 = set(input("Enter the first set of strings (comma-separated): ").split(','))
    set2 = set(input("Enter the second set of strings (comma-separated): ").split(','))
    difference = set1 - set2
    print("Elements in the first set but not in the second set:", difference)

# Example usage:
difference_between_sets()

Enter the first set of strings (comma-separated): 2,3,4,5,6
Enter the second set of strings (comma-separated): 1,2,4,5,7,8
Elements in the first set but not in the second set: {'3', '6'}

25. Create a code that takes a tuple and two integers as input. The function should return a new tuple
containing elements from the original tuple within the specified range of indices

In [20]:
def extract_tuple_range(input_tuple, start_index, end_index):
    return input_tuple[start_index:end_index+1]

# Example usage:
t = (1, 2, 3, 4, 5)
result = extract_tuple_range(t, 1, 3)
print("Extracted Tuple:", result)

Extracted Tuple: (2, 3, 4)

26. Write a code that prompts the user to input two sets of characters. Then, print the union of these two sets.

In [21]:
def union_of_characters():
    set1 = set(input("Enter the first set of characters (comma-separated): ").split(','))
    set2 = set(input("Enter the second set of characters (comma-separated): ").split(','))
    union = set1 | set2
    print("Union of the two sets:", union)

# Example usage:
union_of_characters()

Enter the first set of characters (comma-separated): 3,4,5,6
Enter the second set of characters (comma-separated): 2,4,6,8
Union of the two sets: {'8', '6', '2', '5', '4', '3'}

27. Develop a code that takes a tuple of integers as input. The function should return the maximum and
minimum values from the tuple using tuple unpacking.

In [22]:
def max_min_in_tuple(input_tuple):
    return max(input_tuple), min(input_tuple)

# Example usage:
t = (3, 1, 4, 1, 5, 9)
maximum, minimum = max_min_in_tuple(t)
print("Maximum:", maximum, "Minimum:", minimum)

Maximum: 9 Minimum: 1

28. Create a code that defines two sets of integers. Then, print the union, intersection, and difference of these
two sets.

In [23]:
def set_operations():
    set1 = {1, 2, 3, 4}
    set2 = {3, 4, 5, 6}
    print("Union:", set1 | set2)
    print("Intersection:", set1 & set2)
    print("Difference (set1 - set2):", set1 - set2)

# Example usage:
set_operations()

Union: {1, 2, 3, 4, 5, 6}
Intersection: {3, 4}
Difference (set1 - set2): {1, 2}

29. Write a code that takes a tuple and an element as input. The function should return the count of
occurrences of the given element in the tuple

In [24]:
def count_element_in_tuple(input_tuple, element):
    return input_tuple.count(element)

# Example usage:
t = (1, 2, 3, 4, 2, 2, 5)
element_count = count_element_in_tuple(t, 2)
print("Count of element:", element_count)

Count of element: 3

30. Develop a code that prompts the user to input two sets of strings. Then, print the symmetric difference of
these two sets

In [25]:
def symmetric_difference_between_sets():
    set1 = set(input("Enter the first set of strings (comma-separated): ").split(','))
    set2 = set(input("Enter the second set of strings (comma-separated): ").split(','))
    sym_diff = set1 ^ set2
    print("Symmetric Difference:", sym_diff)

# Example usage:
symmetric_difference_between_sets()

Enter the first set of strings (comma-separated): 2,3,5,6,8,9
Enter the second set of strings (comma-separated): 1,2,5,6,9,8
Symmetric Difference: {'1', '3'}

31. Write a code that takes a list of words as input and returns a dictionary where the keys are unique words
and the values are the frequencies of those words in the input list.

In [26]:
def word_frequencies(word_list):
    return {word: word_list.count(word) for word in set(word_list)}

# Example usage:
words = ["apple", "banana", "apple", "cherry", "banana", "apple"]
frequencies = word_frequencies(words)
print("Word Frequencies:", frequencies)

Word Frequencies: {'banana': 2, 'apple': 3, 'cherry': 1}

32. Write a code that takes two dictionaries as input and merges them into a single dictionary. If there are
common keys, the values should be added together.

In [27]:
def merge_dictionaries(dict1, dict2):
    merged = dict1.copy()
    for key, value in dict2.items():
        if key in merged:
            merged[key] += value
        else:
            merged[key] = value
    return merged

# Example usage:
dict1 = {'a': 1, 'b': 2}
dict2 = {'b': 3, 'c': 4}
merged_dict = merge_dictionaries(dict1, dict2)
print("Merged Dictionary:", merged_dict)

Merged Dictionary: {'a': 1, 'b': 5, 'c': 4}

33. Write a code to access a value in a nested dictionary. The function should take the dictionary and a list of
keys as input, and return the corresponding value. If any of the keys do not exist in the dictionary, the
function should return None.

In [29]:
def access_nested_dict(nested_dict, keys):
    current = nested_dict
    for key in keys:
        if key in current:
            current = current[key]
        else:
            return None
    return current

# Example usage:
nested = {'a': {'b': {'c': 42}}}
keys = ['a', 'b', 'c']
value = access_nested_dict(nested, keys)
print("Value at specified keys:", value)

Value at specified keys: 42

In [28]:
33. Write a code to access a value in a nested dictionary. The function should take the dictionary and a list of
keys as input, and return the corresponding value. If any of the keys do not exist in the dictionary, the
function should return None.

SyntaxError: invalid syntax (<ipython-input-28-968e2a5c3f25>, line 1)

34. Write a code that takes a dictionary as input and returns a sorted version of it based on the values. You
can choose whether to sort in ascending or descending order.

In [30]:
def sort_dictionary_by_values(input_dict, ascending=True):
    return dict(sorted(input_dict.items(), key=lambda item: item[1], reverse=not ascending))

# Example usage:
d = {'a': 3, 'b': 1, 'c': 2}
sorted_dict = sort_dictionary_by_values(d, ascending=True)
print("Sorted Dictionary:", sorted_dict)

Sorted Dictionary: {'b': 1, 'c': 2, 'a': 3}

35. Write a code that inverts a dictionary, swapping keys and values. Ensure that the inverted dictionary
correctly handles cases where multiple keys have the same value by storing the keys as a list in the
inverted dictionary.

In [31]:
def invert_dictionary(input_dict):
    inverted = {}
    for key, value in input_dict.items():
        if value not in inverted:
            inverted[value] = [key]
        else:
            inverted[value].append(key)
    return inverted

# Example usage:
d = {'a': 1, 'b': 2, 'c': 1}
inverted_dict = invert_dictionary(d)
print("Inverted Dictionary:", inverted_dict)

Inverted Dictionary: {1: ['a', 'c'], 2: ['b']}