#DATA STRUCTURE

#1.Discuss string slicing and provide examples.
###Ans1. String slicing in Python is a powerful feature that allows you to extract specific portions of a string using a straightforward syntax. The basic syntax for slicing is string[start:end:step], where:

###start: The index where the slice begins (inclusive).
###end: The index where the slice ends (exclusive).
###step: The interval between each index in the slice (optional).

In [50]:
text = "Hello, World!"
sliced_text = text[0:5]  # Extracts characters from index 0 to 4
print(sliced_text)

Hello

In [51]:
text = "Hello, World!"
sliced_text = text[::2]  # Extracts every second character
print(sliced_text)

Hlo ol!

In [52]:
text = "Hello, World!"
sliced_text = text[-6:-1]  # Extracts characters from index -6 to -2
print(sliced_text)

World

In [53]:
text = "Hello, World!"
start_to_five = text[:5]  # Extracts from the beginning to index 4
print(start_to_five)

five_to_end = text[5:]  # Extracts from index 5 to the end
print(five_to_end)

entire_string = text[:]  # Extracts the entire string
print(entire_string)

Hello
, World!
Hello, World!

#2.Explain the key feature of list in python.

 #Features of Lists in Python
##All Python lists include the following features :
###•	Lists can contain items of different types at the same time (including strings, integers, floating point numbers and boolean values).
###•	Lists are mutable and dynamic; list items can be added, removed or changed after the list is defined.
###•	Lists are ordered; newly added items will be placed at the end of the list.
###•	Lists use zero-based indexing; every list item has an associated index, and the first item’s index is 0.
###•	Duplicated list items are allowed.
###•	Lists can be nested within other lists indefinitely.

#3.Describe how to access, modify, and delete elements in a list with examples.

##Ans3. Accessing, modifying, and deleting elements in a list are fundamental operations in Python.

###1. Accessing Elements in a List
###Accessing elements in a list is done through indexing. Each item in the list has a corresponding index, starting from 0 for the first element.

In [2]:
my_list = ['apple', 'banana', 'cherry', 'date']

# Accessing elements by positive index
first_item = my_list[0]      # 'apple'
second_item = my_list[1]     # 'banana'

# Accessing elements by negative index
last_item = my_list[-1]      # 'date'
second_last_item = my_list[-2]  # 'cherry'

# Slicing to access a range of elements
sub_list = my_list[1:3]      # ['banana', 'cherry'] (includes index 1, excludes index 3)

In [3]:
# Accessing elements by positive index
my_list[0]

'apple'

In [3]:
my_list[1]

'banana'

In [5]:
my_list[2]

'cherry'

In [6]:
# Accessing elements by negative index
my_list[-1]

'date'

In [18]:
# Slicing to access a range of elements #(includes index 1, excludes index 3)
my_list[1:3] #[start:end] >>  #1 is the index number where the slice starts
                              #3 is the index number where the slice ends

['banana', 'cherry']

In [14]:
my_list[0:4]

['apple', 'banana', 'cherry', 'date']

In [19]:
my_list[0:4:1] #[start:end:step] # step >> The interval between each index

['apple', 'banana', 'cherry', 'date']

###2. Modifying Elements in a List
###we can modify the value of an element by assigning a new value to a specific index. This allows us to change existing data in place.

In [4]:
my_list = [10, 20, 30, 40, 50]

In [6]:
# Modifying an element by index
my_list = [10, 20, 30, 40, 50]

In [9]:
my_list[1]=25
my_list

[10, 25, 30, 40, 50]

In [11]:
# Modifying multiple elements using slicing
my_list[2:4] = [35, 45]
my_list

[10, 25, 35, 45, 50]

In [14]:
# You can also change a single item to a list
my_list[0] = [5, 10]
my_list

[[5, 10], 25, 35, 45, 50]

###a. Inserting Elements >> we can insert elements at a specific index using the insert() method.

In [16]:
colors = ['red', 'green', 'blue']

In [17]:
colors

['red', 'green', 'blue']

In [18]:
# Insert 'yellow' at index 1
colors.insert(1, 'yellow')  # Now colors is ['red', 'yellow', 'green', 'blue']

In [19]:
colors

['red', 'yellow', 'green', 'blue']

###b.Extend >> we can add multiple elements to the end of the list using the extend() method or by using the += operator.

In [23]:
animals = ['cat', 'dog']

In [24]:
# Using extend()
animals.extend(['rabbit', 'hamster'])

In [25]:
animals

['cat', 'dog', 'rabbit', 'hamster']

In [26]:
# Using +=
animals += ['parrot']

In [27]:
animals

['cat', 'dog', 'rabbit', 'hamster', 'parrot']

###c. Replacing Elements with New Values >> we can replace a slice of the list with a new list of values, even if the new list is of different length.

In [31]:
grades = [90, 85, 70, 60]

In [32]:
# Replace two elements with one
grades[1:3] = [75]

In [33]:
grades

[90, 75, 60]

In [34]:
# Replace one element with two
grades[0:1] = [95, 100]

In [35]:
grades

[95, 100, 75, 60]

###d. Nested Lists >> If we have a list of lists (a nested list),we can modify elements within the sublists

In [36]:
# Nested list
matrix = [[1, 2, 3], [4, 5, 6]]

In [37]:
# Modify an element in the first sublist
matrix[0][1] = 20

In [38]:
matrix

[[1, 20, 3], [4, 5, 6]]

In [39]:
# Modify an entire sublist
matrix[1] = [7, 8, 9]

In [40]:
matrix

[[1, 20, 3], [7, 8, 9]]

###3. Deleting Elements in a List >> we can remove elements from a list using different methods. Here are the most common ways:

###a. Using del >> The del statement can remove an element by index.

In [41]:
my_list = [10, 20, 30, 40, 50]

# Deleting an element by index
del my_list[2]

In [42]:
my_list

[10, 20, 40, 50]

###b. Using remove() >> The remove() method removes the first occurrence of a specified value

In [43]:
my_list = [10, 20, 30, 20, 40]

# Removing a value
my_list.remove(20)

In [44]:
my_list

[10, 30, 20, 40]

###c. Using pop() >> The pop() method removes and returns an element at a specified index. If no index is specified, it removes and returns the last element.

In [ ]:
my_list = [10, 20, 30, 40, 50]

# Popping the last element
last_item = my_list.pop()    # last_item is 50; now my_list is [10, 20, 30, 40]

# Popping an element by index
second_item = my_list.pop(1) # second_item is 20; now my_list is [10, 30, 40]

In [45]:
my_list = [10, 20, 30, 40, 50]

In [46]:
# Popping the last element
last_item = my_list.pop()

In [47]:
last_item

50

In [48]:
my_list

[10, 20, 30, 40]

In [49]:
# Popping an element by index
second_item = my_list.pop(1)

In [50]:
my_list

[10, 30, 40]

#4.Compare and contrast tuples and lists with examples.

###Tuples and lists are both built-in data structures in Python used to store collections of items. However, they have key differences in terms of mutability, syntax, and use cases. Here’s a detailed comparison:

###1. Mutability

###Lists: Mutable, meaning we can modify them after creation. You can add, remove, or change elements.
###Tuples: Immutable, meaning once created, we cannot change their elements. We cannot add, remove, or modify items.

In [51]:
my_list = [1, 2, 3]
my_list[1] = 4         # Change second element
my_list.append(5)      # Add an element
print(my_list)

[1, 4, 3, 5]

In [52]:
my_tuple = (1, 2, 3)
print(my_tuple)

(1, 2, 3)

In [54]:
my_tuple[1]= 4  # This will raise an error because tuples cannot change their elements

TypeError: 'tuple' object does not support item assignment

###2.Lists: Defined using square brackets [] . Tuples: Defined using parentheses ().

In [55]:
#Lists: Defined using square brackets []
my_list = [1, 2, 3, 'four']

In [56]:
my_list

[1, 2, 3, 'four']

In [58]:
#Tuples: Defined using parentheses ().
my_tuple = (1, 2, 3, 'four')

In [59]:
my_tuple

(1, 2, 3, 'four')

###3. Performance
###Lists: Generally slower due to their mutable nature, which requires more overhead to manage dynamic changes.

###Tuples: Faster than lists because they are immutable. This makes them more memory efficient.

###4. Use Cases
###Lists: Best suited for collections of items that may need to be changed, such as queues, stacks, or any situation where elements will be added or removed frequently.
###Tuples: Ideal for fixed collections of items, such as coordinates or database records, where we want to ensure that the data remains unchanged.

In [60]:
shopping_list = ['milk', 'eggs', 'bread']
shopping_list.append('cheese')  # Modifying the list

In [61]:
shopping_list

['milk', 'eggs', 'bread', 'cheese']

In [62]:
coordinates = (10.0, 20.0)  # Tuple for a point in 2D space

In [63]:
coordinates

(10.0, 20.0)

###5. Nesting
###Both lists and tuples can contain other lists or tuples, allowing for complex data structures.

In [74]:
# List of tuples
list_of_tuples = [(1, 2), (3, 4), (5, 6)]

In [76]:
list_of_tuples

[(1, 2), (3, 4), (5, 6)]

In [64]:
# Tuple of lists
tuple_of_lists = (['a', 'b'], ['c', 'd'])

In [77]:
tuple_of_lists

(['a', 'b'], ['c', 'd'])

### 6. Functions and Methods
###Both data types support various functions, but the available methods differ:

###List Methods: .append(), .remove(), .insert(), .pop(), .extend(), .sort(), etc.
###Tuple Methods:have limited methods: .count(), .index().

In [78]:
#list example
my_list = [1, 2, 3]
my_list.append(4)  # Output: [1, 2, 3, 4]

In [79]:
my_list

[1, 2, 3, 4]

In [82]:
my_list.remove(4)

In [83]:
my_list

[1, 2, 3]

In [91]:
#tuples example
my_tuple = (1, 2, 2, 3)

In [93]:
#count_of_twos = my_tuple.count(2)
my_tuple.count(2)

2

In [98]:
my_tuple.index(1)

0

#5.Describe the key features of sets and provide examples of their use.

###Sets in Python are a built-in data structure that represent an unordered collection of unique elements. They offer several key features that make them useful for various applications. Here's a detailed overview:

###Key Features of Sets
###1. Unordered Collection:Sets do not maintain any order of elements. The items are stored in a way that makes retrieval fast but does not preserve the order.

In [99]:
my_set = {3, 1, 4, 1, 5}
print(my_set)

{1, 3, 4, 5}

###2.Unique Elements:
###Sets automatically eliminate duplicate values. If you add a duplicate, it won’t be included in the set.

In [1]:
my_set = {1, 2, 3, 2}
print(my_set)

{1, 2, 3}

###3. Mutable:

###we can add or remove elements from a set after it has been created, making it mutable.

In [2]:
my_set = {1, 2, 3}
my_set.add(4)            # Adding an element
my_set.remove(2)        # Removing an element
print(my_set)

{1, 3, 4}

###4.Supports Mathematical Set Operations:

###Sets support operations like union, intersection, difference, and symmetric difference.

In [6]:
#Union
set_a = {1,2,3}
set_b = {2,3,4}
union = set_a | set_b
print(union)

{1, 2, 3, 4}

In [8]:
intersection = set_a & set_b
print(intersection)

{2, 3}

In [9]:
difference = set_a - set_b
print(difference)

{1}

In [10]:
symmetric_difference = set_a ^ set_b
print(symmetric_difference)

{1, 4}

###5.No Indexing:

###Since sets are unordered, we cannot access elements using indexing or slicing. we can only check for membership.

In [12]:
my_set = {1, 2, 3}
# print(my_set[0])  # This will raise a TypeError
print(1 in my_set)

True

###6.Set Comprehensions:

###Similar to list comprehensions, we can create sets using set comprehensions for concise and readable code.

In [14]:
squares = {x**2 for x in range(8)}
print(squares)

{0, 1, 4, 36, 9, 16, 49, 25}

#6.Discuss the use cases of tuples and sets in python programming.

###Tuples and sets are both versatile data structures in Python, each serving specific purposes based on their unique properties. Here's a discussion of their use cases:

###Use Cases of Tuples

###a. Immutable Data Collections : Tuples are immutable, making them ideal for representing fixed collections of items that should not change. This property ensures data integrity.

In [16]:
coordinates = (10.0, 20.0)  # A point in 2D space

In [17]:
coordinates

(10.0, 20.0)

###b.Returning Multiple Values : Tuples are often used to return multiple values from a function. This allows for clean and concise function interfaces.

In [18]:
def get_min_max(numbers):
    return (min(numbers), max(numbers))

result = get_min_max([3, 1, 4, 1, 5])
print(result)

(1, 5)

###c. Data Integrity in Records:Tuples are useful for representing records (like database rows) where the data fields have fixed types and positions.

In [19]:
student = ('John Doe', 20, 'Computer Science')

In [20]:
student

('John Doe', 20, 'Computer Science')

###d. Using as Dictionary Keys:Since tuples are hashable, they can be used as keys in dictionaries, unlike lists.

In [21]:
location_data = {}
location_data[(40.7128, -74.0060)] = "New York"

In [22]:
location_data

{(40.7128, -74.006): 'New York'}

###e. Nested Structures:Tuples can be nested within other data structures (like lists) to maintain complex data relationships.

In [24]:
employees = [("Alice", "Manager"), ("Bob", "Developer"), ("Charlie", "Designer")]

In [25]:
employees

[('Alice', 'Manager'), ('Bob', 'Developer'), ('Charlie', 'Designer')]

###f. Function Arguments: Tuples can be used to pack and unpack function arguments, making function calls cleaner.

In [26]:
def process_data(data):
    x, y, z = data
    # Process x, y, z

process_data((1, 2, 3))

###Use Cases of Sets
###a. Removing Duplicates:Sets are excellent for eliminating duplicate values from a collection. This is particularly useful in data preprocessing.

In [29]:
raw_data = [1, 2, 2, 3, 4, 4, 5]
unique_data = set(raw_data)

In [30]:
raw_data

[1, 2, 2, 3, 4, 4, 5]

###b. Fast Membership Testing : Sets provide O(1) average time complexity for membership tests, making them ideal for situations where you need to frequently check for the existence of items.

In [31]:
my_set = {1, 2, 3, 4, 5}
print(3 in my_set)

True

###c. Mathematical Set Operations: Sets support union, intersection, difference, and symmetric difference operations, making them useful in mathematical and analytical applications.

In [32]:
set_a = {1, 2, 3}
set_b = {3, 4, 5}

print(set_a | set_b)  # Union: {1, 2, 3, 4, 5}
print(set_a & set_b)  # Intersection: {3}

{1, 2, 3, 4, 5}
{3}

###d. Data Analysis: Sets can be used in data analysis tasks to find unique elements in datasets, such as customer IDs or product SKUs.

In [33]:
customer_ids = [1, 2, 3, 2, 4, 5]
unique_customers = set(customer_ids)

In [34]:
unique_customers

{1, 2, 3, 4, 5}

###e. Storing Non-Hashable Objects: Sets can store hashable (immutable) objects, such as tuples, but cannot store lists or other sets as elements.

In [35]:
point_set = {(1, 2), (3, 4)}  # Valid

In [36]:
point_set

{(1, 2), (3, 4)}

###f. Data Deduplication in APIs: When collecting data from APIs or external sources, sets can help remove duplicates before processing or storage.

In [37]:
api_results = [1, 1, 2, 3, 4]
unique_results = set(api_results)

In [38]:
unique_results

{1, 2, 3, 4}

#7.Describe how to add, modify, and delete items in a dictionary with examples.

##ans7. Dictionaries in Python are versatile data structures that store key-value pairs. We can easily add, modify, and delete items in a dictionary. Here's a detailed explanation with examples for each operation.

###1. Adding Items : we can add items to a dictionary by assigning a value to a new key. If the key already exists, this will update its value.

In [39]:
# Initial dictionary
student = {'name': 'Alice', 'age': 21}

# Adding a new key-value pair
student['major'] = 'Computer Science'

print(student)

{'name': 'Alice', 'age': 21, 'major': 'Computer Science'}

In [40]:
# Updating the existing 'age' key
student['age'] = 22

print(student)

{'name': 'Alice', 'age': 22, 'major': 'Computer Science'}

##2. Modifying Items: To modify an existing item in a dictionary, you simply reassign a value to the desired key.

In [41]:
# Initial dictionary
product = {'name': 'Laptop', 'price': 1000, 'stock': 50}

# Modifying the price
product['price'] = 950

print(product)

{'name': 'Laptop', 'price': 950, 'stock': 50}

###3. Deleting Items: We can delete items from a dictionary using the del statement or the pop() method. The pop() method also allows you to retrieve the value of the removed key.

In [43]:
# Initial dictionary
employee = {'name': 'Bob', 'department': 'HR', 'salary': 50000}

# Deleting the 'salary' key
del employee['salary']

print(employee)

{'name': 'Bob', 'department': 'HR'}

In [45]:
# Initial dictionary
settings = {'theme': 'light', 'notifications': True, 'language': 'en'}

# Popping the 'notifications' key
notifications_status = settings.pop('notifications')

print(notifications_status)
print(settings)

True
{'theme': 'light', 'language': 'en'}

###4. Using clear() to Remove All Items : If we want to remove all items from a dictionary, we can use the clear() method.

In [46]:
# Initial dictionary
inventory = {'apples': 10, 'bananas': 5, 'oranges': 8}

# Clearing the entire dictionary
inventory.clear()

print(inventory)

{}

#8.Discuss the importance of dictionary keys being immutable and provide examples.
###Ans8. In Python, dictionary keys must be immutable, which means that once a key is created, it cannot be changed. This immutability is crucial for several reasons, including data integrity, performance, and the fundamental design of hash tables.
###Importance of Immutable Keys:

###a. Data Integrity: If dictionary keys were mutable, changes to a key could lead to inconsistencies and errors in data retrieval. If a key were modified after being added to a dictionary, the dictionary would not be able to locate the value associated with that key.

In [1]:
# Attempting to use a mutable type (list) as a key
my_dict = {}
key = [1, 2, 3]  # This is mutable

# This will raise a TypeError
my_dict[key] = 'value'

TypeError: unhashable type: 'list'

###b. Hashability: Dictionary keys must be hashable, meaning they have a hash value that remains constant during their lifetime. Immutable objects (like strings, numbers, and tuples) have a stable hash value, which allows the dictionary to use these keys efficiently in hash tables. Mutable objects do not have a stable hash value because their content can change, making them unsuitable for use as keys.

In [48]:
# Using a string (immutable) as a key
my_dict = {'name': 'Alice'}
print(my_dict['name'])

# Using a tuple (immutable) as a key
my_dict[(1, 2)] = 'Point A'
print(my_dict[(1, 2)])

Alice
Point A

###c. Efficiency: The design of dictionaries relies on the ability to quickly locate values based on keys. If keys were mutable, the underlying hash table would require frequent rehashing and resizing, leading to performance inefficiencies. Immutable keys help maintain the efficiency of lookups and insertions.

In [49]:
# Efficient lookups with immutable keys
my_dict = {}
for i in range(1000):
    my_dict[(i, i+1)] = i * (i + 1)

print(my_dict[(999, 1000)])  # Fast retrieval

999000

###d. Predictable Behavior: With immutable keys, the behavior of dictionaries becomes more predictable. Once a key-value pair is added, we can be assured that the key will always point to the same value unless explicitly changed or deleted.

In [3]:
my_dict = {'a': 1, 'b': 2, 'c': 3}
for key in my_dict:
    print(key)

a
b
c

In [4]:
my_dict = {(1, 2): 'point A'}
print(my_dict[(1, 2)])

point A

In [5]:
my_dict = {'apple': 1, 'banana': 2}
print(my_dict['apple'])

1

In [6]:
my_dict = {'x': 10, 'y': 20}
print(my_dict['y'])

20

In [7]:
my_dict = {'a': 1}
my_dict['b'] = 2  # Adding a new key-value pair
my_dict['a'] = 10  # Updating an existing key
print(my_dict)

{'a': 10, 'b': 2}


###e. Ease of Debugging: When keys are immutable, it is easier to track down bugs. If a value associated with a key cannot be retrieved, you can check the presence of the key without worrying about its state changing unexpectedly.

In [2]:
my_dict = {'a': 1, 'b': 2}
try:
    print(my_dict['c'])  # Attempt to access a non-existent key
except KeyError as e:
    print(e)

'c'