#Theory Questions:

#1. What is the difference between a function and a method in Python?
###In Python, both functions and methods are blocks of reusable code that perform specific tasks, but there are key differences between the two:

###Function: (1) A function is a standalone piece of code that can be defined using the def keyword.(2) it can take input parameters, perform operations, and return results.(3) They are not bound to any object.(4)It can be called independently and do not require an instance of a class to be used.

###Method: (1) A method is similar to a function but is associated with an object (an instance of a class).(2) Methods are defined within a class and can operate on the data contained in that object.(3) They are called on instances of the class.(4) it is called on objects or instances of a class. They require an instance (or the class itself for class methods) to be invoked.

In [ ]:
def add(a, b):
    return a + b

result = add(3, 5)

In [ ]:
add(3,5)

8

In [ ]:
def greet(name):
    print('Hello World!', name )

In [ ]:
greet()

Hello World!

In [ ]:
greet("Urvashi")

Hello, Urvashi!

#2. Explain the concept of function arguments and parameters in Python

###In Python, function arguments and parameters are fundamental concepts used when defining and calling functions. Here's a detailed explanation of both:

###Parameters: it is the variables defined in the function signature that accept values when the function is called. They act as placeholders for the data that the function will operate on.

###Arguments: it is the actual values that we pass to the function when we call it. They are the data supplied to the parameters.

In [ ]:
def greet(name):  # 'name' is a parameter
    print(f"Hello, {name}!")

In [ ]:
greet("Alice")  # "Alice" is an argument

Hello, Alice!

###Types of Parameters and Arguments
###Positional Parameters: These are parameters that need to be provided in the same order as they are defined.

In [ ]:

def add(a, b):  # 'a' and 'b' are positional parameters
    return a + b

result = add(3, 5)  # 3 and 5 are positional arguments

In [ ]:
add(3,5)

8

###Keyword Arguments: We can specify the parameter name while passing the argument, which allows you to pass them in any order.

In [ ]:
def describe_pet(name, animal_type):
    print(f"I have a {animal_type} named {name}.")

describe_pet(animal_type="dog", name="Buddy")

I have a dog named Buddy.

In [ ]:
def print_names(*names):  # 'names' is a tuple of arguments
    for name in names:
        print(name)

print_names("Alice", "Bob", "Charlie")

def print_info(**info):  # 'info' is a dictionary of keyword arguments
    for key, value in info.items():
        print(f"{key}: {value}")

print_info(name="Alice", age=30)

Alice
Bob
Charlie
name: Alice
age: 30

###Default Arguments: We can assign default values to parameters. If no argument is provided for that parameter, the default value is used.

In [ ]:
def greet(name="Guest"):
    print(f"Hello, {name}!")

greet()  # Output: Hello, Guest!
greet("Alice")  # Output: Hello, Alice!

Hello, Guest!
Hello, Alice!

###Variable-length Arguments: We can define functions that accept an arbitrary number of arguments using *args for non-keyword arguments and **kwargs for keyword arguments.

In [ ]:
def sum_all(*args):
    return sum(args)

print(sum_all(1, 2, 3, 4))

10

In [ ]:
def print_info(**kwargs):
    for key, value in kwargs.items():
        print(f"{key}: {value}")

print_info(name="Alice", age=30)

name: Alice
age: 30

#3. What are the different ways to define and call a function in Python?

###In Python, there are several ways to define and call functions. Here are the most common methods:

###1. Standard Function Definition: we can define a basic function using the def keyword.

In [ ]:
#Define function
def greet(name):
    print(f"Hello, {name}!")

In [ ]:
#call function
greet("Akshay")

Hello, Akshay!

###2. Function with Return Value: Functions can return values using the return statement.

In [ ]:
def add(a, b):
    return a + b

In [ ]:
result = add(2, 3)
print(result)

5

###3. Function with Default Parameters: We can provide default values for parameters.

In [ ]:
def greet(name="Guest"):
    print(f"Hello, {name}!")

In [ ]:
greet()
greet("Bob")

Hello, Guest!
Hello, Bob!

###4. Function with Variable-Length Arguments: Functions can accept a variable number of arguments using *args and **kwargs.

In [ ]:
def sum_all(*args):
    return sum(args)

In [ ]:
def sum_all(*args):
    return sum(args)

In [ ]:
multiply = lambda x, y: x * y

#4. What is the purpose of the `return` statement in a Python function?

###The return statement in a Python function serves several important purposes:

###1. Returning a Value: The primary purpose of the return statement is to send a value back to the caller of the function. When a function is called, it can process some input and then use return to output a result.

In [ ]:
def add(a, b):
    return a + b

result = add(3, 5)
print(result)

8

###2. Exiting a Function: The return statement also causes the function to exit immediately. If a function reaches a return statement, it stops executing and control is returned to the caller.

In [ ]:
def check_number(num):
    if num < 0:
        return "Negative"
    return "Non-negative"

print(check_number(-5))

Negative

###3. Returning Multiple Values: A function can return multiple values as a tuple, which can be unpacked by the caller.

In [ ]:
def get_coordinates():
    return (10, 20)

x, y = get_coordinates()
print(x, y)  # Output: 10 20

10 20

###4. Default Return Value: If a function does not explicitly use a return statement, it will return None by default. This can be useful for indicating that the function doesn't produce a meaningful result.

In [ ]:
def print_message():
    print("This function has no return value.")

result = print_message()
print(result)

This function has no return value.
None


#5. What are iterators in Python and how do they differ from iterables?

###In Python, iterators and iterables are closely related concepts that deal with iteration over a sequence of elements. Here's a breakdown of each term and their differences, along with examples.

###Iterable: An iterable is any Python object that can return an iterator. This includes data types like lists, tuples, strings, dictionaries, and sets. An iterable must implement the __iter__() method, which returns an iterator.

In [ ]:
#In this example, my_list is an iterable.
my_list = [1, 2, 3, 4]
for item in my_list:
    print(item)

1
2
3
4

###Iterator: An iterator is an object that represents a stream of data and allows you to iterate through that data one element at a time. An iterator implements two methods: __iter__() and __next__(). The __iter__() method returns the iterator object itself, and the __next__() method returns the next value from the stream of data.

In [ ]:
my_list = [1, 2, 3, 4]
my_iterator = iter(my_list)  # Create an iterator from the list

print(next(my_iterator))
print(next(my_iterator))

1
2

In [ ]:
# Iterable example
my_list = [1, 2, 3]
print("Iterable:")
for item in my_list:  # Looping over the iterable
    print(item)

# Iterator example
my_iterator = iter(my_list)  # Create an iterator
print("\nIterator:")
print(next(my_iterator))
print(next(my_iterator))
print(next(my_iterator))

# Attempting to get the next value after exhausting the iterator
try:
    print(next(my_iterator))  # This will raise StopIteration
except StopIteration:
    print("Reached the end of the iterator.")

Iterable:
1
2
3

Iterator:
1
2
3
Reached the end of the iterator.

#6. Explain the concept of generators in Python and how they are defined

###In Python, generators are a special type of iterator that allow you to create iterators in a more concise and efficient way. They are defined using functions and the yield keyword, which enables the function to return a value and pause its execution, maintaining its state for the next iteration.

###Key Features of Generators:

###1. Lazy Evaluation: Generators produce values one at a time and only when requested. This means they don't compute all their values at once, making them memory-efficient for large datasets.

###2. State Preservation: When a generator function is called, it does not execute its body immediately. Instead, it returns a generator object. Each time you call next() on this generator, it resumes execution from where it left off, allowing it to preserve its local state.

###3. Simplified Syntax: Generators provide a simpler way to create iterators without needing to implement the __iter__() and __next__() methods manually.

###Defining a Generator:  We define a generator just like a regular function, but instead of using return, you use yield to produce values.

In [ ]:
def count_up_to(max):
    count = 1
    while count <= max:
        yield count  # Produces the current value and pauses
        count += 1   # Increments the count

# Creating a generator
counter = count_up_to(5)

# Using the generator
for number in counter:
    print(number)

1
2
3
4
5

###Using next() with Generators: We can also manually control the iteration using the next() function.

In [ ]:
counter = count_up_to(3)

print(next(counter))
print(next(counter))
print(next(counter))

# The next call will raise StopIteration
try:
    print(next(counter))  # This will raise StopIteration
except StopIteration:
    print("Reached the end of the generator.")

1
2
3
Reached the end of the generator.

#7. What are the advantages of using generators over regular functions?

###Generators offer several advantages over regular functions, particularly when it comes to handling large datasets or streams of data. Here are the key benefits, along with examples:

###1. Memory Efficiency: Generators generate values on-the-fly and do not store the entire dataset in memory. This is especially useful when dealing with large data sets.

In [ ]:
def large_range(n):
    for i in range(n):
        yield i

# Using a generator
gen = large_range(10**6)

# This only consumes a small amount of memory
for number in gen:
    if number > 10:
        break  # Stop after a few iterations

###2. Lazy Evaluation: Generators produce values only when requested. This can lead to significant performance improvements, as they avoid unnecessary computations.

In [ ]:
def countdown(n):
    print("Starting countdown...")
    while n > 0:
        yield n
        n -= 1

# Using the generator
for num in countdown(5):
    print(num)
    if num == 3:
        break  # The rest of the countdown is not executed

Starting countdown...
5
4
3

###In this case, if the function had been a regular function returning a list, it would have computed the entire countdown upfront.

###3. Simpler Code for Iteration: Generators can simplify the code required to create iterators. You don’t need to define a class with __iter__() and __next__() methods.

In [ ]:
def fibonacci(n):
    a, b = 0, 1
    for _ in range(n):
        yield a
        a, b = b, a + b

# Using the generator
for number in fibonacci(10):
    print(number)

0
1
1
2
3
5
8
13
21
34

###4. Maintaining State: Generators can maintain their state between calls. This allows for more complex behaviors without needing to manage state manually.

In [ ]:
def counter():
    count = 0
    while True:
        yield count  # Yield the current count and pause
        count += 1   # Increment the count

# Create a generator
count_gen = counter()

# Using the generator
for _ in range(5):
    print(next(count_gen))

0
1
2
3
4

###5. Infinite Sequences: Generators can represent infinite sequences without running out of memory. This is not possible with regular functions that return lists.

In [ ]:
def infinite_numbers():
    n = 0
    while True:
        yield n
        n += 1

# Using the generator
gen = infinite_numbers()
for _ in range(10):
    print(next(gen))

0
1
2
3
4
5
6
7
8
9

#8. What is a lambda function in Python and when is it typically used?


###A lambda function in Python is a small, anonymous function defined using the lambda keyword. Unlike regular functions defined with def, lambda functions can take any number of arguments but only have a single expression. The expression is evaluated and returned when the lambda function is called.

### Use Lambda Functions:

###Lambda functions are typically used in the following scenarios:

###1. Short-term Use: When you need a simple function for a short period, often as an argument to higher-order functions.
###2. Higher-Order Functions: In functions like map(), filter(), and sorted(), where you apply a simple transformation or filter.
###3. Inline Definitions: When you want to define a function in a single line without the overhead of a full function definition.

In [ ]:
add = lambda x, y: x + y
result = add(3, 5)
print(result)

8

In [ ]:
9. Explain the purpose and usage of the `map()` function in Python.

#9. Explain the purpose and usage of the `map()` function in Python.

###The map() function in Python is a built-in higher-order function that allows you to apply a specified function to all items in an iterable (like a list, tuple, or string). The main purpose of map() is to transform the elements of an iterable by applying a function to each of them, returning a map object (which is an iterator) that can be easily converted to other data types like lists or tuples.

###Usage
###Single Iterable: When you have a single iterable and want to apply a function to each of its elements.
###Multiple Iterables: When you have multiple iterables and want to apply a function that takes multiple arguments.

In [ ]:
def cube(x):
    return x ** 3

numbers = [1, 2, 3, 4]
cubed = list(map(cube, numbers))
print(cubed)  # Output: [1, 8, 27, 64]

[1, 8, 27, 64]

#10. What is the difference between `map()`, `reduce()`, and `filter()` functions in Python?

The map(), reduce(), and filter() functions in Python are all higher-order functions used for processing iterables, but they serve different purposes and operate in distinct ways. Here’s a breakdown of each function and their differences:

##1. map()
###Purpose: To apply a function to all items in an iterable and return a new iterable (typically a list).
###Returns: An iterator (or a list if converted) containing the results of applying the function.
###Usage: Ideal for transforming data.

In [ ]:
numbers = [1, 2, 3, 4]
squared = list(map(lambda x: x ** 2, numbers))
print(squared)  # Output: [1, 4, 9, 16]

[1, 4, 9, 16]

##2. filter()
###Purpose: To filter items in an iterable based on a condition specified by a function.
###Returns: An iterator (or a list if converted) containing only the items for which the function returns True.
###Usage: Ideal for selecting items that meet specific criteria.

In [ ]:
numbers = [1, 2, 3, 4, 5]
even_numbers = list(filter(lambda x: x % 2 == 0, numbers))
print(even_numbers)  # Output: [2, 4]

[2, 4]

##3. reduce()
###Purpose: To cumulatively apply a binary function (a function that takes two arguments) to the items in an iterable, reducing the iterable to a single cumulative value.
##Returns: A single value that results from applying the function cumulatively to the items.
##Usage: Ideal for aggregating data, such as summing a list of numbers.

In [ ]:
from functools import reduce

numbers = [1, 2, 3, 4]
sum_result = reduce(lambda x, y: x + y, numbers)
print(sum_result)  # Output: 10

10

#11. Using pen & Paper write the internal mechanism for sum operation using  reduce function on this given
###list:[47,11,42,13];

![Ans11.jpg]()

#Practical Questions:

#1. Write a Python function that takes a list of numbers as input and returns the sum of all even numbers in the list.

In [ ]:
def sum_of_even_numbers(numbers):
    # Use a list comprehension to filter even numbers and sum them
    even_sum = sum(num for num in numbers if num % 2 == 0)
    return even_sum

# Example usage
numbers = [1, 2, 3, 4, 5, 6]
result = sum_of_even_numbers(numbers)
print(result)  #(2 + 4 + 6)= 12

12

#2. Create a Python function that accepts a string and returns the reverse of that string.

###Python function that takes a string as input and returns the reversed version of that string:

###1. The function reverse_string accepts one parameter, input_string.
###2. It uses slicing ([::-1]) to reverse the string.
###3. Finally, it returns the reversed string.
###We can call this function with any string, and it will return the reversed result!

In [ ]:
def reverse_string(input_string):
    return input_string[::-1]

# Example usage
result = reverse_string("Hello, World!")
print(result)

!dlroW ,olleH

#3. Implement a Python function that takes a list of integers and returns a new list containing the squares of each number

###Here’s a Python function that takes a list of integers and returns a new list containing the squares of each number

In [ ]:
def square_numbers(input_list):
    return [x ** 2 for x in input_list]

# Example usage
numbers = [1, 2, 3, 4, 5]
squared_numbers = square_numbers(numbers)
print(squared_numbers)  # Output: [1, 4, 9, 16, 25]

[1, 4, 9, 16, 25]

##Explanation
###The function square_numbers accepts one parameter, input_list, which is a list of integers.
###It uses a list comprehension to iterate through each number x in the input list and calculates its square (x ** 2).
###Finally, it returns a new list containing the squared values.

#4. Write a Python function that checks if a given number is prime or not from 1 to 200.

###Here's a Python function that checks if a given number is prime and can be used to check numbers from 1 to 200:

In [ ]:
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True

# Example usage
for number in range(1, 201):
    if is_prime(number):
        print(f"{number} is a prime number.")

2 is a prime number.
3 is a prime number.
5 is a prime number.
7 is a prime number.
11 is a prime number.
13 is a prime number.
17 is a prime number.
19 is a prime number.
23 is a prime number.
29 is a prime number.
31 is a prime number.
37 is a prime number.
41 is a prime number.
43 is a prime number.
47 is a prime number.
53 is a prime number.
59 is a prime number.
61 is a prime number.
67 is a prime number.
71 is a prime number.
73 is a prime number.
79 is a prime number.
83 is a prime number.
89 is a prime number.
97 is a prime number.
101 is a prime number.
103 is a prime number.
107 is a prime number.
109 is a prime number.
113 is a prime number.
127 is a prime number.
131 is a prime number.
137 is a prime number.
139 is a prime number.
149 is a prime number.
151 is a prime number.
157 is a prime number.
163 is a prime number.
167 is a prime number.
173 is a prime number.
179 is a prime number.
181 is a prime number.
191 is a prime number.
193 is a prime number.
197 is a prime number.
199 is a prime number.

#5. Create an iterator class in Python that generates the Fibonacci sequence up to a specified number of terms.

In [ ]:
class FibonacciIterator:
    def __init__(self, terms):
        self.terms = terms
        self.current = 0
        self.previous = 1
        self.count = 0

    def __iter__(self):
        return self

    def __next__(self):
        if self.count < self.terms:
            if self.count == 0:
                self.count += 1
                return 0
            elif self.count == 1:
                self.count += 1
                return 1
            else:
                next_fib = self.current + self.previous
                self.previous = self.current
                self.current = next_fib
                self.count += 1
                return next_fib
        else:
            raise StopIteration

# Example usage
fib = FibonacciIterator(10)  # Generate the first 10 Fibonacci numbers
for number in fib:
    print(number)

0
1
1
1
2
3
5
8
13
21

##Explanation
###FibonacciIterator Class:
###1. __init__(self, terms): Initializes the iterator with the specified number of terms and sets the initial state for the Fibonacci sequence.
###2. __iter__(self): Returns the iterator object itself. This is required to make the class an iterator.
###3. __next__(self): Calculates the next Fibonacci number:
###4. Returns 0 for the first term and 1 for the second term.
###5. For subsequent terms, it calculates the next Fibonacci number by summing the last two numbers.
###6. Raises StopIteration when the specified number of terms has been reached.
###Example Usage :The example creates an instance of FibonacciIterator to generate the first 10 Fibonacci numbers and prints them. You can change the argument to generate more or fewer terms as needed.

#6. Write a generator function in Python that yields the powers of 2 up to a given exponent.

###Here’s a Python generator function that yields the powers of 2 up to a given exponent:

In [ ]:
def powers_of_two(exponent):
    """Generator that yields powers of 2 up to the specified exponent."""
    for i in range(exponent + 1):
        yield 2 ** i

# Example usage
for power in powers_of_two(10):  #When we run the example, it will print the powers of 2 from 2**0 to 2**
  print(power)

1
2
4
8
16
32
64
128
256
512
1024

##Explanation
###powers_of_two(exponent):
###This function is a generator that takes one parameter, exponent, which defines the highest power of 2 to generate.
###It uses a for loop to iterate from 0 to exponent (inclusive).
###For each iteration, it calculates 2**i and yields the result using the yield keyword.

#7. Implement a generator function that reads a file line by line and yields each line as a string.

###Here's a generator function that reads a file line by line and yields each line as a string:

In [ ]:
def read_file_lines(file_path):
    """Generator that reads a file line by line."""
    with open(file_path, 'r') as file:
        for line in file:
            yield line.strip()  # Yield each line, stripping newline characters

# Example usage
file_path = 'example.txt'  # Replace with your file path
for line in read_file_lines(file_path):
    print(line)

FileNotFoundError: [Errno 2] No such file or directory: 'example.txt'

###Explanation
###Generator Function: The read_file_line_by_line function is defined as a generator using the yield keyword. This allows it to produce a sequence of results lazily, one at a time.
###File Handling: The function opens the specified file in read mode ('r'). The with statement ensures the file is properly closed after its block is executed.
###Reading Lines: The function iterates over the file object, which reads the file line by line. Each line is stripped of leading and trailing whitespace using strip(), and then it is yielded.
###Usage: You can use this generator in a loop to process each line of the file as needed.

#8. Use a lambda function in Python to sort a list of tuples based on the second element of each tuple.

###We can use a lambda function to sort a list of tuples based on the second element of each tuple. Here’s how to do it:

In [ ]:
# Sample list of tuples
data = [(1, 'banana'), (2, 'apple'), (3, 'cherry'), (4, 'date')]

# Sorting the list based on the second element of each tuple
sorted_data = sorted(data, key=lambda x: x[1])

# Example usage
print(sorted_data)

[(2, 'apple'), (1, 'banana'), (3, 'cherry'), (4, 'date')]

#9. Write a Python program that uses `map()` to convert a list of temperatures from Celsius to Fahrenheit.
#Here's a Python program that uses the map() function to convert a list of temperatures from Celsius to Fahrenheit:

In [ ]:
# List of temperatures in Celsius
celsius_temps = [0, 20, 37, 100]

# Function to convert Celsius to Fahrenheit
def celsius_to_fahrenheit(celsius):
    return (celsius * 9/5) + 32

# Using map to convert the list of temperatures
fahrenheit_temps = list(map(celsius_to_fahrenheit, celsius_temps))

# Example usage
print(fahrenheit_temps)

[32.0, 68.0, 98.6, 212.0]

#10. Create a Python program that uses `filter()` to remove all the vowels from a given string.

###Here’s a Python program that uses the filter() function to remove all the vowels from a given string:

In [ ]:
# Function to check if a character is a vowel
def is_not_vowel(char):
    vowels = 'aeiouAEIOU'  # Include both lowercase and uppercase vowels
    return char not in vowels

# Given string
input_string = "Hello, World!"

# Using filter to remove vowels
filtered_string = ''.join(filter(is_not_vowel, input_string))

# Example usage
print(filtered_string)

Hll, Wrld!

#11) Imagine an accounting routine used in a book shop. It works on a list with sublists, which look like this:

In [ ]:
# List of orders in the bookshop
orders = [
    [34587, "Learning Python, Mark Lutz", 4, 40.95],
    [98762, "Programming Python, Mark Lutz", 5, 56.80],
    [77226, "Head First Python, Paul Barry", 3, 32.95],
    [88112, "Einführung in Python3, Bernd Klein", 3, 24.99]
]

# Function to calculate total price with adjustment if under 100 €
def calculate_order_totals(orders):
    # Define a lambda function to calculate the adjusted total price
    calculate_total = lambda order: (order[0], (order[2] * order[3]) + 10 if order[2] * order[3] < 100 else order[2] * order[3])

    # Use map to apply the lambda function to each order
    result = list(map(calculate_total, orders))
    return result

# Get the list of 2-tuples with order number and adjusted total price
order_totals = calculate_order_totals(orders)

# Print the results
for order in order_totals:
    print(order)

(34587, 163.8)
(98762, 284.0)
(77226, 108.85000000000001)
(88112, 84.97)